// brings in flex display, while accomodating all supported browsers.
@mixin flex-display {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
}

$mobile: "only screen and (min-width: 320px) and (max-width: 767px)";

$tablet: "all and (min-width: 768px) and (max-width: 991px)";

$desktop-small: "all and (min-width: 992px) and (max-width: 1199px)";

$desktop-large: "all and (min-width: 1200px)";
