@import '../_commons/_all.scss';

.message-form-ly {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.message-field-ly {}

.message-label-ly {}

.form-container-ly {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 100vh;
}

.input-label-ly {
  display: block;
}

.field-ly {
  display: block;
}
