.message-form-md {

}

.message-field-md {

}

.message-label-md {

}

.form-container-md {
  width: 70%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;

}

.field-container-md {
  display: flex;
  flex-direction: column;
}
